<nav class="navbar dashboard">
    <a href="/best-recipes/#/my-recipes/page/1">Всички</a>
    <a href="/best-recipes/#/my-recipes/breakfast/page/1">Закускa</a>
    <a href="/best-recipes/#/my-recipes/main-dish/page/1">Основно</a>
    <a href="/best-recipes/#/my-recipes/salads/page/1">Салати</a>
    <a href="/best-recipes/#/my-recipes/sauces/page/1">Сосове</a>
    <a href="/best-recipes/#/my-recipes/starters/page/1">Предястие</a>
    <a href="/best-recipes/#/my-recipes/desserts/page/1">Десерт</a>
    <a href="/best-recipes/#/my-recipes/soups/page/1">Супи</a>
</nav>