<nav class="navbar dashboard">
    <a href="/best-recipes/#/recipes/page/1">Всички</a>
    <a href="/best-recipes/#/recipes/breakfast/page/1">Закускa</a>
    <a href="/best-recipes/#/recipes/main-dish/page/1">Основно</a>
    <a href="/best-recipes/#/recipes/salads/page/1">Салати</a>
    <a href="/best-recipes/#/recipes/sauces/page/1">Сосове</a>
    <a href="/best-recipes/#/recipes/starters/page/1">Предястие</a>
    <a href="/best-recipes/#/recipes/desserts/page/1">Десерт</a>
    <a href="/best-recipes/#/recipes/soups/page/1">Супи</a>
</nav>