{{> header}}
<div class="container add">
    <form action="{{domainName}}/#/add" method="post">
        <fieldset>
            <p id="disclaimer">Полетата отбелязи с * са задължителни</p>
            <p class="field name">
                <input type="text" id="name" name="name">
                <label for="name">Име: *</label>
            </p>
            <p class="field time">
                <input type="number" id="time" name="time">
                <label for="time">Минути за приготвяне:</label>
            </p>
            <p class="field portions">
                <input type="number" id="portions" name="portions">
                <label for="portions">Порции:</label>
            </p>
            {{!-- <p class="field products">
                <textarea name="products" id="products" placeholder="Пример: кисело мляко - 400 грама"></textarea>
                <label for="products">Добави продукт: * <span>(по един продукт на ред)</span></label>
            </p> --}}
            <p class="for-label">
             <label for="products">Добави продукт: * (по един продукт на ред)</label>
             </p>
            <div class="row form-group">
                <input name="products" type="hidden" id="products">
                <div id="products-editor-container">
                    <p></p>
                </div>
            </div>
            {{!-- <div id="editor-container">
                <p class="field preparation"></p>
                <textarea name="preparation" id="preparation"></textarea>
                <label for="preparation">Начин на приготвяне: *</label>
                </p>
            </div> --}}
            {{!-- <label for="preparation">Начин на приготвяне: *</label>
            <div id="editor-container" style="background-color: white; color: black">
                <textarea name="preparation" id="preparation"></textarea>
            </div> --}}
             <p class="for-label">
            <label for="preparation">Начин на приготвяне*</label>
            </p>
            <div class="row form-group">
                <input name="preparation" type="hidden" id="preparation">
                <div id="editor-container">
                    <p></p>
                </div>
            </div>
            <p class="field category">
                <select name="category" id="category">
                    <option value="Закускa">Закускa</option>
                    <option value="Основно">Основно</option>
                    <option value="Салати">Салати</option>
                    <option value="Сосове">Сосове</option>
                    <option value="Предястие">Предястие</option>
                    <option value="Десерт">Десерт</option>
                    <option value="Супи">Супи</option>
                </select>
                <label for="category">Категория: *</label>
            </p>
            <p class="field image">
                <input type="file" id="image" name="image">
                <label for="image">Снимка: *</label>
            </p>
            <p class="field submit">
                <button class="btn submit" type="submit">Публикувай</button>
            </p>
        </fieldset>
    </form>
</div>
{{> footer}}