{{#if loggedIn}}
<div id="add-recipe">
    <a href="/{{domainName}}/#/add">
        <img src="https://firebasestorage.googleapis.com/v0/b/recipeproject-f0551.appspot.com/o/fixed%2Frecipe-icon-png-215216-free-icons-library-recipe-png-200_200.jpg?alt=media&token=5da22baf-1025-47ea-885c-eaa520044cbe" alt="">
        <span>Добави идея</span></a>
</div>
{{/if}}