{{#if loggedIn}}
<div id="add-recipe">
    <a href="/best-recipes/#/add">
        <img src="../pictures//recipe-icon-png-215216-free-icons-library-recipe-png-200_200.jpg" alt="">
        <span>Добави идея</span></a>
</div>
{{/if}}