{{> header}}
<div class="container auth">
    <form action="/best-recipes/#/reset-password" method="post">
        <fieldset>
            <p class="field email">
                <input type="email" id="email" name="email">
                <label for="email">Емейл:</label>
            </p>
            <p class="field submit">
                <button class="btn submit" type="submit">Заяви нова парола</button>
            </p>

        </fieldset>
    </form>
</div>
{{> footer}}