#add-recipe a {
    margin: 0;
    position: fixed;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(252, 194, 27);
    border-radius: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-width: 0.1em;
    top: 5.2rem;
    left: 0;
    width: 6vw;
    height: 7rem;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    z-index: 3;
}

#add-recipe a:hover {
    border-color: rgb(255, 255, 255);
    background-color: rgba(242, 168, 88);
    color: white;
}

#add-recipe img {
    height: 4rem;
    padding: 0;
}

#add-recipe span {
    font-size: 0.8em;
    margin: auto;
    text-align: center;
    display: block;
    padding: 0.1em;
}

@media only screen and (max-width: 1400px) {
    #add-recipe a {
        margin: 0 0 1rem 0;
        position: static;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        background-color: rgb(252, 194, 27);
        border-radius: 1em;
        border-width: 0.1em;
        width: 100%;
        max-width: 90vw;
        padding: 0.3rem;
    }
    #add-recipe a:hover {
        border-color: rgb(114, 114, 114);
        background-color: rgba(242, 168, 88);
        margin: 0 0 1rem 0;
        position: static;
        border-style: solid;
        border-radius: 1em;
        border-width: 0.1em;
        max-width: 100%;
        padding: 0.3rem;
    }
    #add-recipe img {
        height: 4rem;
    }
    #add-recipe span {
        font-size: 1.2rem;
    }
}