
div.form-group {
    width: 95.5%;
    max-width: 700px;
    margin: auto;
    border-radius: 0.5rem;
    border-color: lightgrey; 
    border-style: solid;
}

div.ql-editor {
    min-height: 5rem;    
}

form div.form-group div {
 background-color: rgb(226, 226, 226);
 color: black;
 margin: 0;
 width: 100%;
 overflow: hidden;
}

.ql-snow .ql-tooltip[data-mode=link]::before {
    content: "Въведете връзка:";
}

.ql-snow .ql-tooltip {
    position: static;
    background-color: inherit;
    border-color: black;
    margin-bottom: 1rem;
}

#editor-container > div.ql-tooltip.ql-editing {
    position: static;
    background-color: inherit;
    border-color: black;
    margin-bottom: 1rem;
}

.ql-snow .ql-tooltip a {
    width: 8rem;
    margin: 0.5rem;
    text-align: center;
    color: black;
    line-height: inherit;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    border-right: 0px;
    content: 'Промени';
    padding-right: 0px;
    color: black;
    margin: auto;
}

.ql-snow .ql-tooltip a.ql-action::after {
    border-right: none;
    content: 'Промени';
    padding-right: 0;
    margin-left: 0;
}

.ql-snow .ql-tooltip a.ql-remove::before {
    content: 'Премахни';
}

.ql-snow .ql-tooltip a.ql-remove::before {
    margin-left: 0;
}


.ql-snow .ql-tooltip.ql-editing a.ql-action:hover {
    color: white;
}


div.ql-editor a {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0.2rem;
    font-size: 13px;
    color: white;
    background-color: teal;
    max-width: 400px;
}

.ql-snow .ql-tooltip::before {
    display: none;
    content: "Посети връзка:";
    line-height: 26px;
    margin-right: 8px;
}

.ql-snow .ql-tooltip a.ql-preview {
    display: none;
}
